<div class="facet-card">
    <div class="facet-header">
        <span class="facet-name">{{facetName}}</span>
        <span class="facet-type-kind">{{typeKind}}</span>
    </div>
    <div class="facet-features">
        <span class="feature {{constructorClass}}">{{constructorIcon}} Constructor</span>
        <span class="feature {{projectionClass}}">{{projectionIcon}} Projection</span>
        <span class="feature {{toSourceClass}}">{{toSourceIcon}} ToSource</span>
    </div>
    {{exclusions}}
    {{inclusions}}
    <div class="facet-config" style="margin-top: 0.5rem;">{{memberCount}} member{{memberPlural}}</div>
</div>
